<h2>Please sign up here:</h2>
<form method="post" action="/signup">
<br>
Username: <input type="text" name="username">
<br>
Password: <input type="text" name="password">
<br>
<br>
<input type="submit" value="Sign Up">
</form>